{% extends "base.html" %}

{% block title %}ListPokemons{% endblock %}

{% block content %}


	<table class="table">
		<th>Pokemon Name</th>
		<th>Pokemon Type</th>
		<th>Trainer</th>
		<th>Image</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for pokemon in pokemons %}
			<tr>
				<td>{{ pokemon.pokemon_name }}</td>
				<td>{{ pokemon.pokemon_type }}</td>
				<td>{{ pokemon.trainer }}</td>
				<td>{{ pokemon.image }}</td>
				<td><a href="{% url 'detail' pokemon.id %}"> deatil </a></td>
				<td><a href="{% url 'update' pokemon.id %}">update</a></td>
				<td><a href="{% url 'delete' pokemon.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}