{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<style>
.form{
		width: 100%;
		max-width: 420px;

		padding: 30px;
		margin: auto;
		margin-top: 5px;

	}
.p{
 text-align:center;
}
	</style>

<form>
	<p>BIENVENIDO</p>

	</form>


{% endblock %}
