{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Jugadores{% endblock %}

{% block content %}
<table class="table">
	<th>Nombre</th>
	<th>Posicion</th>
	<th>Numero</th>
	<th>Peso</th>
	<th>altura</th>
	<th>equipo</th>
	<th>_|_</th>
	<th>Acciones</th>
	<th>_|_</th>
	{% for Jugadores in player %}
		<tr>
			<td>{{ Jugadores.nombre }}</td>
			<td>{{ Jugadores.posicion}}</td>
			<td>{{ Jugadores.numero}}</td>
			<td>{{ Jugadores.peso}}</td>
			<td>{{ Jugadores.altura }}</td>
			<td>{{ Jugadores.equipo }}</td>
			<td><a href="#">detail</a></td>
			<td><a href="#">update</a></td>
			<td><a href="#">delete</a></td>
		</tr>
{% endfor %}
</table>
{% endblock %}
